---
layout: content
---


<!-- updated image styling -->
{% if page.image.feature %}
    <div class="page-lead" style="background-image:url({{ site.url }}/images/{{ page.image.feature }})">
      <div class="wrap page-lead-content">
        <h1><br><br><br><br><br><br></h1>
        <h1>{% if page.title %}{{ page.title }}{% endif %}</h1>
      </div><!-- /.page-lead-content -->
    </div><!-- /.page-lead -->
    {% endif %}


<div id="main" role="main">
	<article class="wrap" itemscope itemtype="http://schema.org/Article">
		
		{% include breadcrumbs.html %}
		<div class="inner-wrap">
			<div id="content" class="page-content" itemprop="articleBody">
				<br><br>
				{{ content }}
				<hr />
				<footer class="page-footer">
					{% if page.categories %}{% include page-author.html %}{% endif %}
					{% if page.share != false %}{% include share-this.html %}{% endif %}
					{% include page-meta.html %}
				</footer><!-- /.footer -->
				<aside>
					{% if page.comments == true %}{% include comments.html %}{% endif %}
				</aside>
			</div><!-- /.content -->
		</div><!-- /.inner-wrap -->
		{% if page.ads == true %}<div class="ads">{% include advertising.html %}</div><!-- /.ads -->{% endif %}
	</article><!-- ./wrap -->
</div><!-- /#main -->
